/* Learning CSS journey Crafted by Hand */

/* ========================================== */
/* Fonts */
/* ========================================== */

/* @font-face {
    font-family: 'Botanica';
    src: url('/mySite/Resources/fonts/Botanica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'Merriweather';
    src: url('../Resources/fonts/Merriweather-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sacramento';
    src: url('../Resources/fonts/Sacramento-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Resources/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

/* ========================================== */
/* Elements */
/* ========================================== */

#Name {
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    margin: 0;
    color: #808080; 
}

#Bio {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    color: #808080;
    font-weight: 800;
    padding: 1em 0;
}

.titleAndSubtitle {
    padding: 4em 0;
}

.highlight {
    text-decoration: underline;
}

img {
    width: 100%;
    bottom: -4px;
    position: relative;
}

.myProfile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1em;
}

#startAudio {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(196, 188, 188, 0.4);
    background: rgba(43, 31, 31, 0.08);
    backdrop-filter: blur(10px);
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .3s ease;
    z-index: 1000;
    animation: spin 6s linear infinite;
}

.contactMe {
    margin-top: 1em;
    padding: 0.5em 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #808080;
    font-weight: 500;
    border: 1px solid rgba(5, 5, 5, 0.4);
    background: rgba(43, 31, 31, 0.08);
    backdrop-filter: blur(10px);
    border-radius: 3px;
    cursor: pointer;
}

.marginalText {
        font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin: 1em 0;
    color: #808080;
    font-weight: 800;
    padding: .2em 0;
}

/* ========================================== */
/* Containers */
/* ========================================== */

.topContainer {
    position: relative;
    background: #e0ebe8;
}

.middleContainer {
    position: relative;
}

.bottomContainer {
    position: relative; 
}

.whatIcanDoContainer {
    position: relative;
}

.whatIcanDo {
    display: flex;
    align-items: center;
    gap: 10em;
    margin: 0 1em;
}

.whatIcanDoImg {
    display: flex;
    align-items: center;
    gap: 10em;
    margin: 0 1em;
}

.Container2 {
    max-width: 970px;
    position: relative;
    margin: 0 auto;
}

.islandContainer {
    max-width: 800px;
    margin: 0 auto;
}

.Container {
    position: relative;
    width: 100%;
}

.island {
    position: relative;
    width: 100%;
}

.sectionTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    margin: 0;
    color: #808080;
    font-weight: 800;
    padding: .2em 0;
    margin: .5em 0;
}

.sectionTitleLeft {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    margin: 0;
    color: #808080;
    font-weight: 800;
    padding: .2em 0;
}

.sectionTextLeft {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 0;
    color: #808080;
    font-weight: 500;
    padding: 1em 0;
}

.containText {
    width: 33em;
    margin: 0 auto;
}

.sectionMainTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin: 0;
    color: #808080;
    font-weight: 800;
    padding: .2em 0;
}

.sectionText {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 0;
    color: #808080;
    font-weight: 500;
    padding: 1em 0;
}

/* Paddings */
.paddings {
    padding: 0 1em;
}

.paddings2 {
    margin: 5.2em auto 0;
}

/* Clouds */
.topClouds {
    position: absolute;
    top: 3em;
    right: 1em;
    width: 210px;
    height: 100px;
}

.bottomClouds {
    position: absolute;
    top: 10em;
    left: 1em;
    width: 210px;
    height: 100px;
}

.sliding-container {
    overflow: hidden;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: rgba(43, 31, 31, 0.08);
}

.sliding-image {
    position: relative;
    left: -.9em;
    width: 7em;
    height: 25em;
    background-image: url('/mySite/Resources/img/Tools.JPG');
    background-size: 100% 25em;
    animation: moveFrames 25s infinite;
}

.sliding-image2 {
    position: relative;
    left: -.9em;
    width: 7em;
    height: 25em;
    background-image: url('/mySite/Resources/img/Tools.JPG');
    background-size: 100% 25em;
    animation: moveFrames 20s infinite;
}

/* ========================================== */
/* Separators and Animations */
/* ========================================== */

.separator {
    border: none;
    height: 1px;
    width: 4em;
    background-color: transparent;
    margin: 5.2em auto;
    border-top-style: dotted;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes moveFrames {
    0%, 15% {
        transform: translateY(-.6em);
    }
    20%, 35% {
        transform: translateY(-5.5em);
    }
    40%, 55% {
        transform: translateY(-10em);
    }
    60%, 75% {
        transform: translateY(-14.5em);
    }
    80%, 95% {
        transform: translateY(-19.5em);
    }
    100% {
        transform: translateY(-.6em);
    }
}

/* ========================================= */  
/* Responsive Design */
/* ========================================== */

@media (max-width: 768px) {
    .topClouds {
        top: 1em;
        right: -4.5em;
        width: 150px;
        height: 70px;
    }
    .bottomClouds {
        top: 8em;
        left: -4.5em;
        width: 150px;
        height: 70px;
    }

    .topContainer {
        padding-top: 22%;
    }
}

/* ========================================== */
/* Navigation and Interactivity */
/* ========================================== */

.nav-links {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

ul li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

ul li a {
    text-decoration: none;
    color: #808080;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;   
    border: 2px solid rgba(5, 5, 5, 0.4); 
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7em 0;
}

.nav-top {
    background: #e0ebe8;
}

.nav-text-color {
    color: #3f3c3c;
}

/* ========================================== */
/* Footer */
/* ========================================== */

.footer {
    background: #e0ebe8;
    padding: 1em 0;
    margin-top: 10em;
}

.Content {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1em 0;
}

.footerText{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    margin: 0;
    color: #808080;
    font-weight: 500;
    padding: 0 0 2.5em 0;
}
